/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

body {
    margin: 20px;
}

ul {
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

ul li {
    display: inline-block;
    margin: 0px 10px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.site-logo img {
    width: 150px;
}
