/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

body {
    margin: 20px;
}

ul {
    list-style: none;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

ul li {
    display: inline-block;
    margin: 0px 10px;
}

ul li a {
    transition: 120ms;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}

ul li a:hover {
    color: white;
    background-color: black;
}

.site-logo img {
    width: 150px;
}

.region-flash img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.site-logo-text a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}

.site-logo-text img {
    margin-bottom: -10px;
}

.site-logo img {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
}
